@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+VA+Guides&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#f8f8f8] text-black dark:bg-[#0d0d0d] dark:text-white;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
  }
  .clip-path-custom-2 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
  }
  .clip-path-custom-3 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
  }
}